#colors {
  width: 100%;
  margin: 40px auto;
}

.design_block {
  margin: 40px 0px;
}

.design_number {
  font-size: 24px;
  margin: 12px;
  font-weight: 400;
}

#design_1 {
  margin: 0 10%;
  display: flex;
  width: 80%;
  background-color: #999;
  background-color: #fff;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#post_1 {
  margin: 2%;
  padding: 2%;
  flex-basis: 29%;
  height: auto;
  background-color: #fff;
  overflow: hidden;
}
#post_1:hover {
  transition: all 0.2s;
  box-shadow: 0px 6px 20px rgba(225, 225, 225, 0.7);
}
#post_1:hover img {
  transform: scale(1.2);
  overflow: hidden;
}
#post_1 figure {
  overflow: hidden;
  height: 200px;
}
#post_1 img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.2s;
}

#post_title_1 {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
}
#post_title_1 a {
  display: block;
}

#section_1_1 {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  justify-content: space-between;
}
#section_1_1 time {
  margin-right: 10px;
  font-size: 12px;
  color: #999;
}
#section_1_1 p {
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
}
#section_1_1 p a {
  display: block;
}
#section_1_1 p {
  background-color: #920783;
}
#section_1_1 a {
  color: #fff;
}

#section_1_2 {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  justify-content: space-between;
}
#section_1_2 time {
  margin-right: 10px;
  font-size: 12px;
  color: #999;
}
#section_1_2 p {
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
}
#section_1_2 p a {
  display: block;
}
#section_1_2 p {
  border-bottom: 2px solid #00a0e9;
}

#section_1_3 {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  justify-content: space-between;
}
#section_1_3 time {
  margin-right: 10px;
  font-size: 12px;
  color: #999;
}
#section_1_3 p {
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
}
#section_1_3 p a {
  display: block;
}
#section_1_3 p {
  border-left: 4px solid #e5004f;
}

#section_1_4 {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  justify-content: space-between;
}
#section_1_4 time {
  margin-right: 10px;
  font-size: 12px;
  color: #999;
}
#section_1_4 p {
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
}
#section_1_4 p a {
  display: block;
}
#section_1_4 p {
  background-color: #009e96;
}
#section_1_4 a {
  color: #fff;
}

#section_1_5 {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  justify-content: space-between;
}
#section_1_5 time {
  margin-right: 10px;
  font-size: 12px;
  color: #999;
}
#section_1_5 p {
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
}
#section_1_5 p a {
  display: block;
}
#section_1_5 p {
  border-bottom: 2px solid #f39800;
}

#section_1_6 {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  justify-content: space-between;
}
#section_1_6 time {
  margin-right: 10px;
  font-size: 12px;
  color: #999;
}
#section_1_6 p {
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
}
#section_1_6 p a {
  display: block;
}
#section_1_6 p {
  border-left: 4px solid #1d2088;
}

#design_2 {
  margin: 0 10%;
  display: flex;
  width: 80%;
  background-color: #999;
  background-color: #fff;
  flex-wrap: wrap;
  justify-content: space-between;
}

#post_2 {
  margin: 2%;
  flex-basis: 29%;
  height: auto;
  background-color: #fff;
  overflow: hidden;
}
#post_2:hover #section_2_1 {
  transition: all 0.2s;
  box-shadow: 0px 6px 20px rgba(225, 225, 225, 0.7);
}
#post_2:hover img {
  transform: scale(1.2);
  overflow: hidden;
}
#post_2 figure {
  overflow: hidden;
  height: 200px;
}
#post_2 img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.2s;
}

#section_2_1 {
  width: 90%;
  margin: 0px auto 20px;
  padding: auto;
  position: relative;
  z-index: 1;
}

#title_area {
  position: absolute;
  bottom: 8px;
  right: 0px;
  left: 0px;
  z-index: 10;
  background-color: #fff;
  position: relative;
  text-align: center;
}
#title_area span {
  position: absolute;
  top: -8px;
  right: 0px;
  left: 0px;
}
#title_area span a {
  background-color: #009944;
  padding: 4px 8px;
  opacity: 0.7;
  color: #fff;
}

#post_title_2 {
  padding: 8%;
}
#post_title_2 a {
  display: block;
}
#post_title_2 h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 8px;
}
#post_title_2 h3 {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 8px;
}
#post_title_2 h3 a {
  color: #6E6E6E;
}
#post_title_2 time {
  color: #999;
  font-size: 12px;
  line-height: 1.4;
}

/*# sourceMappingURL=style.css.map */
